# {{ ansible_managed }}

check process sshd with pidfile /var/run/sshd.pid
group system
start program = "/sbin/service sshd start"
stop  program = "/sbin/service sshd stop"
if 5 restarts within 5 cycles then unmonitor
