# {{ ansible_managed }}
# Tell any system-wide dnsmasq instance to make sure to bind to interfaces
# instead of listening on 0.0.0.0
# WARNING: changes to this file will get lost if lxc is removed.

domain-needed
domain={{ lxc_local_domain }}
local=/{{ lxc_local_domain }}/
bogus-priv

expand-hosts
dhcp-range=10.0.3.50,10.0.3.250
