# /etc/sysconfig/spawn-fcgi
# {{ ansible_managed }}
# You must set some working options before the "spawn-fcgi" service will work.
# If SOCKET points to a file, then this file is cleaned up by the init script.
#
# See spawn-fcgi(1) for all possible options.
#
# Example :
#SOCKET=/var/run/php-fcgi.sock
#OPTIONS="-u apache -g apache -s $SOCKET -S -M 0600 -C 32 -F 1 -P /var/run/spawn-fcgi.pid -- /usr/bin/php-cgi"

SOCKET=/var/run/fcgiwrap.sock
OPTIONS="-u nginx -g nginx -s $SOCKET -P /var/run/spawn-fcgi.pid -f /usr/local/sbin/fcgiwrap"
