# /etc/nginx/conf.d/ssl.location.d/jenkins.conf
# {{ ansible_managed }}
# Nginx configuration specific to Jenkins
# Note that regex takes precedence, so use of "^~" ensures earlier evaluation
location ^~ /jenkins/ {

    # Convert inbound WAN requests for https://domain.tld/jenkins/ to 
    # local network requests for http://10.0.0.100:8080/jenkins/
    proxy_pass http://127.0.0.1:8080/jenkins/;
    
  # Rewrite HTTPS requests from WAN to HTTP requests on LAN
    proxy_redirect http:// https://;

    # The following settings from https://wiki.jenkins-ci.org/display/JENKINS/Running+Hudson+behind+Nginx
    sendfile off;

    proxy_set_header   Host             $host;
    proxy_set_header   X-Real-IP        $remote_addr;
    proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
    proxy_max_temp_file_size 0;

    #this is the maximum upload size
    client_max_body_size       10m;
    client_body_buffer_size    128k;

    proxy_connect_timeout      90;
    proxy_send_timeout         90;
    proxy_read_timeout         90;

    proxy_buffer_size          4k;
    proxy_buffers              4 32k;
    proxy_busy_buffers_size    64k;
    proxy_temp_file_write_size 64k;
}
