# /etc/nginx/conf.d/ssl.location.d/nagios.conf
# {{ ansible_managed }}

location /nagios {
  alias /usr/local/nagios/share;
  index index.php;

  auth_basic            "Nagios Access";
  auth_basic_user_file  /usr/local/nagios/etc/passwd;
}

location ~ ^/nagios/cgi-bin/(.*)$ {
  fastcgi_pass unix:/var/run/fcgiwrap.sock;
  fastcgi_param SCRIPT_FILENAME /usr/lib64/nagios/cgi-bin/$1;
  fastcgi_param REMOTE_USER $remote_user;
  include /etc/nginx/fastcgi_params;

  auth_basic            "Nagios Access";
  auth_basic_user_file  /usr/local/nagios/etc/passwd;
}

location ~ ^/nagios/(.*\.php)$ {
  fastcgi_pass unix:/var/run/php-fcgi.sock;
  fastcgi_param SCRIPT_FILENAME /usr/local/nagios/share/$1;
  fastcgi_param PATH_INFO $fastcgi_script_name;
  fastcgi_param REMOTE_USER $remote_user;
  include /etc/nginx/fastcgi_params;

  auth_basic            "Nagios Access";
  auth_basic_user_file  /usr/local/nagios/etc/passwd;
}
